--- 
commands: 
  "0_clean_tmp":
    command: "rm -rf /tmp/mongo-php-driver"
  "1_go_tmp": 
    command: "cd /tmp"
  "2_get_repo": 
    command: "git clone https://github.com/mongodb/mongo-php-driver.git"
  "3_go_repo": 
    command: "cd mongo-php-driver"
  "4_init_submodule": 
    command: "git submodule update --init"
  "5_phpize": 
    command: "phpize"
  "6_run_config": 
    command: "./configure"
  "7_run_make": 
    command: "make all"
  "8_make_install": 
    command: "sudo make install"
  "9_add_mongo_so_phpini": 
    command: "echo \"extension=mongodb.so\" | sudo tee -a /etc/php.ini"
  "90_restart_httpd": 
    command: "sudo service httpd restart"
  "91_test":
    command: "php -r \"exit(extension_loaded('mongodb') ? 1 : 0);\""
