--- 
commands: 
  add_mongo_so_phpini: 
    command: "sudo echo \"extension=mongodb.so\" >> /etc/php.ini"
  get_repo: 
    command: "git clone https://github.com/mongodb/mongo-php-driver.git"
  go_repo: 
    command: "cd mongo-php-driver"
  go_tmp: 
    command: "cd /tmp"
  init_submodule: 
    command: "git submodule update --init"
  make_install: 
    command: "sudo make install"
  phpize: 
    command: phpize
  restart_httpd: 
    command: "sudo service httpd restart"
    test: "php -r \"exit(extension_loaded('mongodb') ? 1 : 0);\""
  run_config: 
    command: ./configure
  run_make: 
    command: "make all"
