--- 
commands: 
  "0_clean_tmp":
    command: "rm -rf /tmp/mongo-php-driver"
  "1_git_clone": 
    command: "cd /tmp && git clone https://github.com/mongodb/mongo-php-driver.git"
  "2_git_submodule": 
    command: "cd /tmp/mongo-php-driver && git submodule update --init"
  "3_phpize":
    command: "cd /tmp/mongo-php-driver && phpize"
  "4_configure": 
    command: "cd /tmp/mongo-php-driver && ./configure"
  "5_make": 
    command: "cd /tmp/mongo-php-driver && make all"
  "6_make_install": 
    command: "cd /tmp/mongo-php-driver && sudo make install"
  "7_rewrite_phpini": 
    command: "echo \"extension=mongodb.so\" | sudo tee -a /etc/php.ini"
  "8_restart_httpd": 
    command: "sudo service httpd restart"